<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>文字流效果</title>
	</head>
	<body>
		<canvas id="canvas">
			<p>升级你的浏览器</p>
		</canvas>
		<script>
			window.onload = function(){
				var canvas = document.getElementById('canvas'),
					context = canvas.getContext('2d'),
					w = canvas.width = window.innerWidth,
					h = canvas.height = window.innerHeight;
				//初始化
				var clearColor = 'rgba(0,0,0,.1)',  //用于绘制渐变阴影
					wordColor = '#ffffff', //文字颜色
					words = '0123456789qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM',
					wordsArr = words.split(''),
					font_size = 16, //文字大小
					clumns = w / font_size,		
					//文字列数
					drops = [];
				for(var i = 0; i<clumns;i++){
					drops[i] = 1;
				}
				function draw(){
					context.save();
					context.fillStyle = wordColor;
					context.font = font_size + 'px arial';
					//核心代码
					for(var i = 0; i<drops.length; i++){
						var text = wordsArr[Math.floor(Math.random() * wordsArr.length)];
						context.fillText(text, i * font_size, drops[i] * font_size);
						if(drops[i] * font_size > h && Math.random() > 0.98){
							drops[i] = 0;
						}
						drops[i]++;
					}
					context.restore();
				}
				
				(function drawFrame(){
					window.requestAnimationFrame(drawFrame, canvas);
					context.fillStyle = clearColor;
					context.fillRect(0,0,w,h);
					draw()
				}())
			}
			
		</script>
	</body>
</html>
